---
import { Card } from '@/components/Docs/CardForm'
---

<html>
    <head>
        <meta  http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <Card client:only="react" />
    </body>
</html>
