---
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css" is:global>
      .sd--editor--form label {
        margin-right: 0.3em;
      }
      .form--element {
        margin-bottom: 0.5em;
      }
      fieldset {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
      }
      label {
        font-weight: bold;
      }
      .form--element-desc {
        margin-top: -0.5em;
      }
    </style>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
  <style>
  </style>
</html>
 